Package: pwdb-dbgsym
Package-Type: ddeb
Source: pwdb
Version: 1.0-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: leo5123 <leoo.caldas@hotmail.com>
Installed-Size: 19
Depends: pwdb (= 1.0-1)
Section: debug
Priority: optional
Description: debug symbols for pwdb
Build-Ids: d3d5957f907b7b80949a7628cac00b14c604472e
