Package: pwdb-dbgsym
Package-Type: ddeb
Source: pwdb
Version: 1.0-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: leo5123 <leoo.caldas@hotmail.com>
Installed-Size: 18
Depends: pwdb (= 1.0-1)
Section: debug
Priority: optional
Description: debug symbols for pwdb
Build-Ids: ab1eba9cd43f0d34c8e1e86b9e477d1b2790a358
